<a href="https://colab.research.google.com/github/afzal453o/Ai-Learn-day1/blob/main/Ai_Learn_day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Multiline strings

In [8]:
print("""Hello, World!
      It's great to be here!""")

Hello, World!
      It's great to be here!

To convert Fahrenheit to Celsius,

In [4]:
print(((75 - 32) * 5 / 9))

23.88888888888889

f-string to calculate

In [5]:
print(f"Isabel is {28/7} dog years old.")

Isabel is 4.0 dog years old.

without any decimal places.

In [9]:
print(f"Isabel is {28/7:.0f} dog years old.")

Isabel is 4 dog years old.

Multi-line f-strings

In [10]:
print(f"""
    Most countries use the metric system for recipe measurement,
    but American bakers use a different system. For example, they use
    fluid ounces to measure liquids instead of milliliters (ml).

    So you need to convert recipe units to your local measuring system!

    For example, 8 fluid ounces of milk is {8 * 29.5735} ml.
    And 100ml of water is {100 / 29.5735} fluid ounces.
""")

    Most countries use the metric system for recipe measurement,
    but American bakers use a different system. For example, they use
    fluid ounces to measure liquids instead of milliliters (ml).

    So you need to convert recipe units to your local measuring system!

    For example, 8 fluid ounces of milk is 236.588 ml.
    And 100ml of water is 3.381405650328842 fluid ounces.

Extra practice

In [6]:
# Modify the code to print your age
print(f"I am {30/5:.0f} years old.")

I am 6 years old.

In [7]:
# Fix this code
print(f"There are {365/7:.2f} weeks in a year")

There are 52.14 weeks in a year

In [11]:
# Modify the code to display one decimal place
print(f"The house was a good size: 1200 square feet, or {1200 * 0.092903:.1f} meters squared!")

The house was a good size: 1200 square feet, or 111.5 meters squared!

In [12]:
# Complete the code
print(f"The area of a square with side 5 cm is {5 * 5} cm squared.")

The area of a square with side 5 cm is 25 cm squared.

you want to display an f-string with Otto's dog age multiple times.

In [13]:
print(f"""Otto's dog age is {49/7}. So a dog that's about
{49/7} would be the same age as Otto. Any dog born about {49/7}
years ago would be in the same stage of life as Otto.""")

Otto's dog age is 7.0. So a dog that's about
7.0 would be the same age as Otto. Any dog born about 7.0
years ago would be in the same stage of life as Otto.

some different

In [14]:
dog_age = 50 / 7
print(f"""Otto's dog age is {dog_age}. So a dog that's about
{dog_age} would be the same age as Otto. Any dog born about {dog_age}
years ago would be in the same stage of life as Otto.""")

Otto's dog age is 7.142857142857143. So a dog that's about
7.142857142857143 would be the same age as Otto. Any dog born about 7.142857142857143
years ago would be in the same stage of life as Otto.

similar example

In [15]:
name = "Otto"
dog_age = 50 / 7

print(f"""{name}'s dog age is {dog_age}. So a dog that's about
{dog_age} would be the same age as {name}. Any dog born about {dog_age}
years ago would be in the same stage of life as {name}.""")

Otto's dog age is 7.142857142857143. So a dog that's about
7.142857142857143 would be the same age as Otto. Any dog born about 7.142857142857143
years ago would be in the same stage of life as Otto.

Extra practice

In [16]:
# Create a variable called 'my_name' and assign it the value of your name as a string.
# Then print out a greeting using the variable, like "Hello, Andrew!"
my_name = "Afzal"
print(f"Hello, {my_name}!")

Hello, Afzal!

In [17]:
# Enter your favorite number below and store it in a variable called 'fav_num'.
# Print out a message telling you what your favorite number plus 10 is.
fav_num = 211
print(f"Your favorite number plus 10 is {fav_num + 10}")

Your favorite number plus 10 is 221

In [19]:
# Create two variables, 'countries_visited' and 'countries_to_visit' and assign them the number of
# countries you've been to and the number of countries you hope to visit. Then complete the print statement.

countries_visited = 5
countries_to_visit = 25

print(f"""I have visited {countries_visited} countries. I plan to visit {countries_to_visit} more countries,
      and when I'm done I will have visited {countries_visited + countries_to_visit} countries.""")

I have visited 5 countries. I plan to visit 25 more countries,
      and when I'm done I will have visited 30 countries.